body {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    line-height: 27px;
    color: #2D2829;
    background-color: #FBEBEA;
    margin: 0;
}

.contacts h2 {
    font-size: 40px;
    line-height: 66px;
    margin: 0;
    margin-bottom: 45px;
}
.phone {
    
    color: #2D2829;
    text-decoration: none;
    
}
.email {
  
    color: #2D2829;
    text-decoration: none;
    
}
address {
   
    font-style: normal;
}
.contact-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.contacts h3 {
    margin: 0;
    margin-bottom: 5px;
}

.contact-list-item {
    margin-bottom: 20px;

}
.social-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 25px;

}
/* .social-list-item {
    margin-right: 25px;
} */
/* Перечислим стили, которые относятся к сетке страницы с контактами:

сброс внешних отступов у <body>;
установка горизонтальных размеров для основного содержимого страницы;
установка внутренних отступов для раздела contacts. */
.main-content {
    width: 1140px;
    margin: 0 auto;
   
    padding-right: 70px;
    padding-left: 70px;
}
.contacts {
    padding-top: 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}
.content-column {
    width: 340px;
    padding-top: 20px;
}
.contact-img {
    width: 760px;
}
/* Декоративные стили соцсетей
После установки отступов списку социальных сетей займёмся декоративным оформлением иконок. Иконки в макете расположены на круглом белом фоне. Получите из макета размеры и цвет фона. */
/* Фон и размеры мы зададим ссылкам, чтобы увеличить доступную для взаимодействия с пользователем область. Ссылкам по умолчанию браузер назначает инлайновый бокс, который устанавливает размер элемента по содержимому, а явно указанные в стилях ширину и высоту игнорирует. Чтобы установить точные размеры из макета, поменяйте тип бокса для ссылки, используя display: block;.

В макете для фона созданы отдельные круглые элементы. Мы используем для этого возможности CSS, а именно CSS-свойство border-radius.

Значение этого свойства можно указывать как в пикселях, так и в процентах. Чтобы получить идеальный круг из квадратного элемента, нужно указать значение равное половине ширины/высоты элемента.

Например, чтобы из квадрата 40 пикселей на 40 пикселей получить круг, мы пишем border-radius: 20px или border-radius: 50%.

Значение 50% считается более универсальным. Так как может подстроиться под любые размеры элемента. Скажем, изменился макет и иконки для социальных сетей стали меньше или, наоборот, больше. 50% превратит квадрат в круг в любом случае. */
.social-list-item a {
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
/* Центрируем иконки
Мы настроили размеры ссылки, и теперь можем отцентрировать вложенную в неё иконку. Сейчас внутри блочного бокса ссылки находится инлайновый элемент img.

Сравните в макете расстояния по разным координатам от иконки до границ блока ссылки. Иконка может быть разной, с разными размерами, а расстояния до края всегда одинаковые в одном направлении. Такое положение иконки называют «центрированным» в контейнере. */
/* Для центровки используем возможности раскладки Flexbox. Хотя иконка внутри ссылки всегда одна, нам пригодятся возможности центровки флекс-элемента по обеим координатам. Поменяйте тип бокса ссылки на flex. Теперь мы можем центрировать иконку по горизонтали и вертикали внутри ссылки. Используйте для этого свойства justify-content и align-items. */


.social-list-item a:hover {
    opacity: 0.7;
}
.social-list-item a:active {
    opacity: 0.5;
}
/* Ссылки — текстовые элементы, и для состояний наведения и нажатия используется полупрозрачный цвет. Используйте значение rgba() из макета для состояний элементов .contact-item a. */
/* В макете использован полупрозрачный цвет для разных состояний ссылок, поэтому мы использовали установку цвета в нотации rgba вместо установки прозрачности для всего элемента. */
.contact-list-item a:hover {
    color: rgba(45, 40, 41, 0.7);
}
.contact-list-item a:active {
    color: rgba(45, 40, 41, 0.5);
}